/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Prompt";
}

html .cet-titlebar {
  background-color: #ececec !important;
  color: #202020 !important;
}

html.dark .cet-titlebar {
  background-color: #202020 !important;
  color: #ececec !important;
}

html .cet-titlebar .cet-control-icon svg {
  fill: #000;
}

html.dark .cet-titlebar .cet-control-icon svg {
  fill: #fff;
}

.cet-titlebar .cet-icon {
  display: none;
}
