/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Prompt";
}

html .cet-titlebar {
  background-color: #ececec !important;
  color: #202020 !important;
}

html .cet-titlebar .cet-control-icon svg {
  fill: #000;
}

.cet-titlebar .cet-icon {
  display: none;
}

.indeterminate {
  background-image: repeating-linear-gradient(
    90deg,
    rgb(217 5 89) -1%,
    rgb(217 5 89) 10%,
    #d3d3d3 10%,
    #d3d3d3 90%
  );
  background-size: 200%;
  background-position-x: 15%;
  animation: progress-loading 5s ease-in-out infinite;
}

@media (prefers-color-scheme: dark) {
  .indeterminate {
    background-image: repeating-linear-gradient(
      90deg,
      rgb(217 5 89) -1%,
      rgb(217 5 89) 10%,
      #535353 10%,
      #535353 90%
    );
  }

  html .cet-titlebar .cet-control-icon svg {
    fill: #fff;
  }

  html .cet-titlebar {
    background-color: #202020 !important;
    color: #ececec !important;
  }
}

.animatedProgress div {
  transition: width 0.35s cubic-bezier(0.65, -0.02, 0.31, 1.01);
}

@keyframes progress-loading {
  50% {
    background-position-x: -115%;
  }
}
